{{define "admin"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Zendesk-Slack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"/>
  </head>
  <body>
    <div class="container">
      <form id="setup-form" method="post" target="_blank" action="/slack/oauth/initiate">
        <div class="field">
          <label for="workspace" class="label">Slack Workspace</label>
          <div class="control">
            <input type="text" class="input" placeholder="yourworkspace.slack.com" name="workspace"/>
            <input type="hidden" name="subdomain" value="{{.Subdomain}}"/>
            <input type="hidden" name="return_url" value="{{.ReturnUrl}}"/>
            <input type="hidden" name="token" value="{{.ZendeskAccessToken}}"/>
            <input type="hidden" name="push_client_id" value="{{.InstancePushId}}"/>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link">OAuth with Slack</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         $("#setup-form").submit(function(event) {
           var $form = $(this);
           // Poll the backend api, todo: replace with something more serious.
           var intervalId = setInterval(function(){
             $.ajax({
               type: 'POST',
               url: '/slack/oauth/is-configured',
               data: $form.serialize(),
               success: function(data) {
                 clearInterval(intervalId);
                 var workspace = $form.find('[name="workspace"]').first().val();
                 var metadata = JSON.stringify({
                   subdomain: $form.find('[name="subdomain"]').first().val()
                 });

                 var $zdForm = $('<form>', {
                   'action': $form.find('[name="return_url"]').first().val(),
                   'method': 'POST'
                 }).append($('<input>', {
                   'name': 'name',
                   'value': workspace,
                   'type': 'hidden'
                 })).append($('<input>', {
                   'name': 'metadata',
                   'value': metadata,
                   'type': 'hidden'
                 }));
                 $(document.body).append($zdForm);
                 $zdForm.submit();
               }
             });
           }, 2500);
         });
      });
    </script>
  </body>
</html>
{{end}}
